<?php

include_once '../config.php';
include_once '../utils/auth.php';

function createRegistro({% for column in columns %}{% if column.pk %} {% continue %} {% endif %}${{column.name}}{% if not loop.last %}, {% endif %}{% endfor %}) : int {
    $con = Mysql::conn();
    $stm = $con->prepare('INSERT INTO {{table}} ({% for column in columns %}{% if column.pk %} {% continue %} {% endif %}{{column.name}}{% if not loop.last %}, {% endif %}{% endfor %}) VALUES ({% for column in columns %}{% if column.pk %} {% continue %} {% endif %}?{% if not loop.last %}, {% endif %}{% endfor %})');

    $stm->bind_param('{% for column in columns %}{% if column.pk %} {% continue %} {% endif %}s{% endfor %}', {% for column in columns %}{% if column.pk %} {% continue %} {% endif %}${{column.name}}{% if not loop.last %}, {% endif %}{% endfor %});
    $stm->execute();
    return $stm->affected_rows;
}

$error = '';

if ($_SERVER["REQUEST_METHOD"] == "POST") {
    {% for column in columns %}
    {% if column.notnull %}
    if ($_POST['{{column.name}}'] != '0' &&  (!isset($_POST['{{column.name}}']) || empty($_POST['{{column.name}}']))) {
        $error = '<b>{{column.name}}</b> é obrigatória<br>';
    }
    {% endif %}
    {% endfor %}
    
    if (empty($error)) {
        $valor = str_replace(',', '.', str_replace('.', '', $_POST['valor'] ?? '0'));
        $affectedRows = createRegistro({% for column in columns %}{% if column.pk %} {% continue %} {% endif %}$_POST['{{column.name}}']{% if not loop.last %}, {% endif %}{% endfor %});

        flashMessage('success', $affectedRows > 0 ? 'Custo Externo cadastrado' : 'Algo de errado aconteceu!!');
        redirect('/{{table}}/index.php');
    }
}

include_once '../Views/header.php'; 

?>
    <h1>Novo {{table}}</h1>

    <?php
        if (isset($error) && !empty($error)) {
    ?>
    <div class="alert alert-danger" role="alert"><?=$error?></div>
    <?php } ?>

    <form method="POST">
        {% for column in columns %}
        {% if column.pk %} {% continue %} {% endif %}
        <div class="mb-3">
            <label for="{{column.name}}" class="form-label">{{column.name}}</label>
            <input type="text" class="form-control" name="{{column.name}}" id="{{column.name}}" value="<?=oldValue('{{column.name}}', '')?>" {% if column.notnull %} required {% endif %}>
        </div>

        {% endfor %}
        <button type="submit" class="btn btn-info">Salvar</button>
        <a href="<?=url('/{{table}}/index.php');?>" class="btn btn-warning">Cancelar</a>
    </form>
    
<script>
    addAutoComplete('placa_desc', 'placa', 'suggestions_placa', "<?=url('/veiculos/autocomplete.php')?>");
</script>

<?php include_once '../Views/footer.php'; ?>
